name: Publish to npm

on:
  push:
    branches:
      - master

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Use Node.js 18.x
        uses: actions/setup-node@v2
        with:
          node-version: 18.x

      - name: Install dependencies
        run: npm install

      - name: Build package
        run: npm run build

      - name: Get project info
        id: project_info
        run: |
          echo "hash=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
          echo "version=$(jq -r '.version' < package.json)" >> $GITHUB_OUTPUT

      - name: Set up npm authentication
        run: npm config set '//registry.npmjs.org/:_authToken' ${{ secrets.NPM_AUTH_TOKEN }}

      - name: Publish to npm
        run: |
          npm version --no-git-tag-version ${{ steps.project_info.outputs.version }}-${{ steps.project_info.outputs.hash }}
          npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_AUTH_TOKEN}}
